body{
    background-color: rgb(2, 2, 74);
}
.intro{
    color:white;
}
.pos-container {
    display: flex;
}

.no-hover-button{
    background-color: gray;
    opacity: 0.6;
    padding: 10px 20px;
    
    }
    
.button{
    background-color: gray;
    color: white;
    opacity: 0.6;
    padding: 10px 20px;
    box-sizing: border-box;
}

.button:hover{
    opacity: 1;
}

.button:active {
    background-color: gray;
    box-shadow: 0 1px #666;
    transform: translateY(0.5px);
    
}
.buttons-section{
    border:thin;
    border-color: white;
    opacity: 1;
}
.orders-section, .buttons-section, .values-section {
    /* border: 1px solid #ddd; */
    padding: 10px;
    margin: 10px;
    height: 25em;
    }

/* Set a fixed width for the orders and values sections */
.orders-section, .values-section {
    flex: 1;
    overflow-y: scroll;
    background-color: rgb(241, 236, 226);
    }
.column-container {
    display: grid;
    align-items:baseline;
    grid-gap: 5px;
}
.values-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; /* Adjust the gap between buttons as needed */
    /* justify-content: flex-start; */
    background-color: rgb(83, 243, 243);
    
    }

.values-section-button{
    color: rgb(5, 5, 90);
    background-color:rgb(241, 236, 226);
}
.orderData{
    color: blue;
}

/* Adjust the width of the buttons section */
.buttons-section {
    display: grid;
    grid-gap: 5px;
    width: 125px; /* Set your desired width */
    padding: 10px;
    box-sizing:content-box; Include padding in the width calculation
    overflow-y: hidden;
    }

.buttons-section-button{
    opacity: 1;
}
/* Styling for scroll button */
.scroll-button-down {
    padding: 10px;
    margin-top: auto;
    text-align: center;
    background-color: #e74c3c; /* Set your desired background color for the scroll button */
    color: #ffffff; /* Set your desired text color for the scroll button */
    border: 1px solid #c0392b; /* Set your desired border color for the scroll button */
    cursor: pointer;
    /* position:relative;
    bottom:0%;
    left: 50%;Set position to absolute for precise positioning */
    transform: translateX(30em);
    margin: 5px; /* Adjust the margin as needed */
    }
.scroll-button-up {
    padding: 10px;
    margin-top: auto;
    text-align: center;
    background-color: hsla(131, 92%, 37%, 0.82); /* Set your desired background color for the scroll button */
    color: #ffffff; /* Set your desired text color for the scroll button */
    border: 1px solid #c0392b; /* Set your desired border color for the scroll button */
    cursor: pointer;
    margin: 5px; /* Adjust the margin as needed */
    }

/* Style for the blank space button */
.blank-space-button {
    visibility: hidden; /* Hide the blank space button by default */
  }
/* Display blank space buttons without spacing */
.column-container .blank-space-button {
    margin-top: 1.15em;
  }